
  _____        __ _   _
 / ____|      / _| | | |
| (___   ___ | |_| |_| |__   _____  _____ _ __
 \___ \ / _ \|  _| __| '_ \ / _ \ \/ / _ \ '_ \
 ____) | (_) | | | |_| |_) | (_) >  <  __/ | | |
|_____/ \___/|_|  \__|_.__/ \___/_/\_\___|_| |_|


Hint: login credentials: admin/secret


