help        Show this help
show        Show various system information
interface   Enter interface configuration menu
route       Enter network routing configuration menu
exit        Exit command shell

